
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.video-background video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Puts the video behind other content */
    object-fit: cover;
    overflow: hidden;
}
body, .flex-center{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0f3;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    z-index: 1;
}
.container, .c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
}
.p-image, .t-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff0f3;
    margin-bottom: 20px;
}
h1,h2{
    color: #ff4d6d;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.hearts{
    background-color: #ff4d6d;
    border-radius: 5px;
    font-size: 2rem;
}
.btn-wrapper{
    display: flex;
    gap: 25px;
    position: relative;

}
button{
    padding: 15px 35px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
#yes-btn{
    background-color: #ff4d6d;
    color: white;
}
#yes-btn:hover{
    transform: scale(1.1);
}
#no-btn{
    background-color: #808080;
    color: white;
    transition: none;
    z-index: 999;
}
.hidden {display: none;}
.yes-msg {
    font-size: 3rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}